button.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

button.noselect,
button.noselect span {
    transition: 200ms;
}

button.noselect .text {
    transform: translateX(35px);
    color: white;
    font-weight: bold;
}

button.noselect .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(110px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.noselect svg {
    width: 15px;
    fill: #eee;
}

button.noselect:hover {
    background: #ff3636;
}

button.noselect:hover .text {
    color: transparent;
}

button.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

button.noselect:focus {
    outline: none;
}

button.noselect:active .icon svg {
    transform: scale(0.8);
}


.cta {
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active svg {
    transform: scale(0.9);
}

.hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.carta {
    width: 250px;
    height: 400px;
    padding: .8em;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.segundo {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.carta-img {
    width: 100%;
    height: 50%;
    border-radius: .5rem;
    transition: .3s ease;
    text-align: center;
}

.conjunto {
    width: 100%;
    display: flex;
    flex-direction: column;
}

svg {
    width: 20px;
    height: 20px;
}

.carta-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/*Text*/
.text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
}

.text-body {
    font-size: .9em;
    padding-bottom: 10px;
}

/*Button*/
.carta-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
}

/*Hover*/
.carta-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(69, 78, 255, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.carta-button:hover {
    border: 1px solid #00ff22;
    background-color: #00ff22;
}

.indexbutton {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 2.5em;
    display: inline-block;
    border-radius: 6em;
    transition: all .2s;
    border: none;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin: auto;
}

.indexbutton:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.indexbutton:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.indexbutton::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.indexbutton::after {
    background-color: #fff;
}

.indexbutton:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}