<header class="navbar-background mb-4" style="position: sticky; top: 0; z-index: 1;">
    <nav class="navbar navbar-expand-xxl py-0 my-0">
        <div class="container">
            <div class="me-3 my-3">
                <a href="/links/index" class="navbar-brand">
                    <img src="/img/logo.png" alt="IPS Sanarte" width="200px">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/index">Inicio</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/salud">Salud</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/higiene">Higiene</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/hogar">Hogar</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/cosmetic">Cosméticos</a>
                    </li>
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/links/comida">Bebidas y Comidas</a>
                    </li>
                    {{#if user}}
                    <li class="nav-item mx-3">
                        <a class="nav-link text-IPS-azul-navbar" href="/profile">Perfil</a>
                    </li>
                    {{/if}}
                </ul>
                <form class="d-flex" action="/links/search" method="post">
                    <input class="form-control me-2" name="nombre" type="search" placeholder="¿Qué estás buscando?"
                        aria-label="Buscar" autocomplete="off">
                    <button class="btn btn-IPS-verde" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>
</header>