<main>
    <div class="container">
        <h5 class="mx-5 fst-italic fw-semibold fs-1 text-center">
            <b>CARRITO DE COMPRAS</b>
        </h5>
        <hr />
        <div class="alert alert-danger mt-3 text-center" role="alert">
            <h4 class="fst-italic fw-semibold">No se han encontrado productos en tu carrito.</h4>
        </div>
    </div>
</main>