<main>
    <div class="container">
        <div class="mx-auto text-center" style="max-width: 960px;">
            <h2 class="fw-bold fs-1 textAzul mb-3">Bienvenidos a la Farmacia de la IPS Sanarte</h2>
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/img/carousel/signin_bg.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/carousel/invima.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/carousel/alkaseltzer.jpg" class="d-block w-100">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/carousel/pedialyte.jpg" class="d-block w-100">
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 my-3">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Categorías Destacadas</h3>
            </div>
            <div class="card-body text-center d-flex justify-content-center" style="flex-direction: column;">
                <div class="row">
                    <div class="col">
                        <a href="/links/salud" class="btn" style="max-width: 120px;">
                            <button class="indexbutton">
                                <center>
                                    <img src="/img/svgs/health-icon.png" style="max-width: 100%;">
                                    <br>
                                    <b>Salud</b>
                                </center>
                            </button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/links/higiene" class="btn" style="max-width: 120px;">
                            <button class="indexbutton">
                                <center>
                                    <img src="/img/svgs/shower.svg" style="max-width: 100%;">
                                    <br>
                                    <b>Higiene</b>
                                </center>
                            </button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/links/hogar" class="btn" style="max-width: 120px;">
                            <button class="indexbutton">
                                <center>
                                    <img src="/img/svgs/home-icon.png" style="max-width: 100%;">
                                    <br>
                                    <b>Hogar</b>
                                </center>
                            </button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/links/cosmetic" class="btn" style="max-width: 120px;">
                            <button class="indexbutton">
                                <center>
                                    <img src="/img/svgs/cosmetic-icon.png" style="max-width: 100%;">
                                    <br>
                                    <b>Cosmeticos</b>
                                </center>
                            </button>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/links/comida" class="btn" style="max-width: 120px;">
                            <button class="indexbutton">
                                <center>
                                    <img src="/img/svgs/bebida-icon.png" style="max-width: 50%;">
                                    <br>
                                    <b>Mecato</b>
                                </center>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 my-3">
            <div class="card-body">
                <h3 class="card-title fw-bold mb-3">Promociones</h3>
            </div>
        </div>
    </div>
</main>